@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html, body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background-color: #1A1B1E;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: Border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}

:root {
  --Gray-1: #898989;
  --Gray-2: #656565;
  --Gray-3: #646569;
  --Gray-4: #515255;
  --Gray-5: #333333;
  --Gray-6: #26272B;
  --Gray-7: #1A1B1E;

  --Green: #00C108;
  --Magenta: #CF297F;
  --Yellow: #F3C026;

  --Primary-Color: var(--Yellow);
  --Positive-Color: var(--Green);
  --Negative-Color: var(--Magenta);
}

::-webkit-scrollbar {
  display: none;
}

