.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
}

.primary {
  background-color: #FFF;
  color: #000;
}

.positive {}

.negative {}

.large {
  height: 70px;
}

.small {
  height: 47px;
}
