.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(0.9);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.primary {
  background-color: #FFF;
  color: #000;
}

.secondary {
  background-color: var(--Yellow);
  color: #000;
}

.positive {
  background-color: var(--Positive-Color);
  color: #FFF;
}

.negative {
  background-color: var(--Negative-Color);
  color: #FFF;
}

.large {
  height: 70px;
}

.small {
  height: 47px;
}
